// Filter button
.filter-btn {
   display: flex;
   align-items: center;
   gap: 14px;
   padding: 6px 12px;
   height: 36px;

   border-radius: 6px;
   background: var(--filter-btn-bg);

   color: var(--filter-btn-color);
   font-size: 1.4rem;
   font-weight: 700;
   line-height: 142.857%;
}

// Like button
.like-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border-color: #171c28;
   padding: 10px;

   box-shadow: var(--like-btn-shadow);

   &:not(&--liked) &__icon--liked {
      display: none;
   }

   &--liked &__icon {
      display: none;
   }

   &__icon--liked {
      margin-top: 6px;
   }
}
// Buttons
.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;

   height: 46px;
   padding: 0 20px;
   border-radius: 6px;

   background: #f8f8fb;

   font-size: 1.8rem;
   font-weight: 500;
   white-space: nowrap;
   user-select: none;

   &--small {
      height: 40px;
   }

   + .btn {
      &:not(.btn--no-margin) {
         margin-left: 20px;
      }
   }

   &--text {
      background: transparent;
      font-weight: 450;
   }

   &--primary {
      color: #171c28;
      background: #ffb700;
   }

   &--outline {
      background: transparent;
      border: 1px solid #d2d1d6;
   }

   &--rounded {
      border-radius: 99px;
   }

   &--danger {
      color: #fff;
      background: #ed4337;
   }

   &[disabled],
   &--disabled {
      opacity: 0.5;
      pointer-events: none;
   }

   &:hover {
      opacity: 0.9;
   }
}

// Button with theme
.switch {
   margin-left: 10px;
   font-size: 1.4rem; // nhỏ hơn chút
   position: relative;
   display: inline-block;
   width: 2.5em; // từ 3.5em giảm còn 2.5em
   height: 1.4em; // từ 2em giảm còn 1.4em

   input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
         background-color: #1ebfc1;
      }

      &:checked + .slider:before {
         transform: translateX(100%);
         box-shadow: inset 10px -3px 0px 10px #ffd000;
      }
   }

   .slider {
      --background: #28096b;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--background);
      transition: 0.4s;
      border-radius: 30px;

      &::before {
         position: absolute;
         content: "";
         height: 1em; // nhỏ hơn
         width: 1em;
         border-radius: 50%;
         left: 10%;
         bottom: 15%;
         box-shadow: inset 6px -3px 0px 0px #fff000;
         background: var(--background);
         transition: 0.4s;
      }
   }
}
