.booking__history {
   margin-top: 150px;
}

.list__detail {
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;

   &--img {
      width: 120px;
      height: 120px;
      object-fit: contain;
   }
   &--title {
      display: flex;
      flex-direction: column;
      align-items: start;

      justify-content: center;

      &-text-name {
         font-weight: bold;
         font-size: 1.5rem;
         color: var(--text-name-color);
      }

      &-text-desc {
         font-size: 1.5rem;
         color: var(--text-desc-color);
      }

      &-text-status {
         font-size: 1.5rem;
         color: #ffb700;

         &-borrowed {
            color: #81f781 !important;
         }

         &-booked {
            color: #9c9ce4 !important;
         }

         &-broken {
            color: #f78181 !important;
         }
      }
   }
}
