@use "../abstracts";

.device-card {
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 16px;
   border-radius: 20px;
   background: var(--device-card-bg);
   box-shadow: 0 20px 60px 10px var(--device-card-shadow);

   &__img-wrap {
      position: relative;
      padding-top: 100%;
      border-radius: 10px 10px 0 0;

   }

   &__thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: contain;
   }

   &__like-btn {
      position: absolute;
      right: -15px;
      bottom: -55px;
   }

   &__title {
      margin-top: 16px;
   }

   &__title,
   &__price,
   &__score {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%; /* 150% */
   }

   &__price {
      &--available {
         color: #ffb700;
      }

      &--borrowed {
         color: #81f781;
      }

      &--booked {
         color: #9c9ce4;
      }

      &--broken {
         color: #f78181;
      }
   }

   &__author {
      margin: 16px 0;
      color: #9e9da8;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 146.667%; /* 146.667% */
   }

   &__row {
      display: flex;
      align-items: center;
      margin-top: auto;
   }

   &__star {
      margin: 0 6px 0 auto;
   }

   &__pagenation-devices {
      margin-top: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
