@use "../abstracts";

*,
::before,
::after {
   box-sizing: border-box;
}

* {
   transition: background-color 0.5s ease, color 0.5s ease;
   scroll-behavior: smooth;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: Gordita, sans-serif;
   color: var(--text-color);
   background: var(--body-bg);
}

a {
   color: inherit;
   text-decoration: none;
}

button,
input {
   border: none;
   background: transparent;
   outline: none;
   cursor: pointer;
   padding: 0;
}

a,
img,
button,
input,
textarea,
select {
   font-family: inherit;
   color: inherit;
   -webkit-tap-highlight-color: transparent;
}

.icon {
   filter: var(--icon-color);
}

.icon-red {
   margin-top: 6px;
}

.w-text {
   width: 77%;
}

.format {
   margin-bottom: 0;
   max-width: inherit; /* Đặt chiều rộng của phần tử */
   white-space: nowrap; /* Ngăn không cho văn bản xuống dòng */
   overflow: hidden; /* Ẩn văn bản vượt quá chiều rộng */
   text-overflow: ellipsis; /* Hiển thị dấu ba chấm ở cuối */
}

.container {
   @include abstracts.screen(sm) {
      padding-left: 20px !important;
      padding-right: 20px !important;
   }
}

.select-none {
   user-select: none;
   pointer-events: none;
   color: #f87171;
   font-weight: 400;
}

.line-clamp {
   display: -webkit-box;
   -webkit-line-clamp: var(--line-clamp, 2);
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.line-clamp.line-2 {
   --line-clamp: 2;
}

.flex-modal {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 10px;
}
