@use "../abstracts";

html {
   --color: #fff;
   --text-color: #1a162e;
   --icon-color: brightness(0) saturate(100%) invert(7%) sepia(16%)
      saturate(3169%) hue-rotate(216deg) brightness(96%) contrast(95%);
   --icon-close-modal-filter: brightness(0) saturate(100%) invert(7%) sepia(32%)
      saturate(900%) hue-rotate(184deg) brightness(96%) contrast(90%);
   --body-bg: #f6f6f6;
   --select-none-color: #f87171;

   // Header
   --header-bg-color: #eee;
   --text-hover-header-color: #1ebfc1;
   --after-hover-color: #1ebfc1;
   --top-act-group-bg-color: #fff;
   --top-act-group-shadow: rgba(237, 237, 246, 0.2);
   --top-act-group-separate: #ededf6;
   --placeholder-color: #b1b8bf;
   --bg-avatar-color: #f3b94e;

   // Category
   --cate-item-bg: #eee;
   --cate-item-thumb-bg: #fff;
   --cate-item-title-color: #000;

   @include abstracts.screen(md) {
      --cate-item-bg: #fff;
   }

   // home-heading-name
   --text-name-color: #1ebfc1;
   --text-desc-color: #1a162e;
   // Buttons
   --filter-btn-color: #6c6c72;
   --filter-btn-bg: #fff;
   --like-btn-shadow: 0 4px 12px 0 rgba(255, 182, 193, 0.2),
      /* Hồng pastel */ 0 4px 12px 3px rgba(255, 223, 186, 0.2),
      /* Cam nhạt */ 0 4px 12px 6px rgba(255, 255, 204, 0.2),
      /* Vàng nhạt */ 0 4px 12px 9px rgba(204, 255, 204, 0.2),
      /* Xanh lá nhạt */ 0 4px 12px 12px rgba(204, 229, 255, 0.2),
      /* Xanh dương nhạt */ 0 4px 12px 15px rgba(221, 204, 255, 0.2),
      /* Tím nhạt */ 0 4px 12px 18px rgba(255, 204, 229, 0.2); /* Hồng tím nhạt */

   // Book
   --book-card-bg: #fff;
   --book-card-shadow: rgba(237, 237, 246, 0.2);
   --book-card-desc-color: #9e9da8;

   // device
   --device-card-bg: #fff;
   --device-card-shadow: rgba(237, 237, 246, 0.2);
   --device-card-desc-color: #9e9da8;

   // Footer
   --footer-bg-color: #eee;
   --footer-text-color: #6e6d74;

   // auth
   --auth-bg-color: #fafafd;
   @include abstracts.screen(md) {
      --auth-bg-color: #fff;
   }
   --auth-content-bg: #fff;
   --auth-intro-text-color: #9e9da8;
   --auth-heading-color: #1a162e;
   --auth-intro-text-color: #1a162e;
   --auth-content-label-color: #1a162e;
   --auth-content-text-color: #1a162e;
   --auth-form-icon-color: #000;
   --auth-content-input-bg: #fff;
   --auth-content-text-placeholder-color: #d2d1d6;

   // itemDetail
   --bg-content-color: #ededed;
}
